{% layout 'layout.liquid' %}

 {% block content %}
<div>
    
    <h2 class="display-6">FASTING PLANS</h2>
    <h3>Choose one that's comfortable for you</h3>
    <div class="row">
       
        {% for fast in fasts %}
            <div class="card text-bg-secondary mb-3" style="width: 10rem">
                <img src="/images/raspberry-g089c6a79b_1920.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h6 class="card-title">
                        
                    </h6>
                    <p class="card-text"> {{fast.name.toUpperCase}} </p>
                       
                       
                                                          
                    
                    <a href="/fasts/{{fast._id}}" class="btn btn-primary active btn-circle btn-xl">View </a> <!-- put img here -->
                </div>
            </div>
        {% endfor %}
    </div>
   
</div> 
<div>
    <h4>or create your own FAST</h4>
    <button type="button" class="btn btn-success btn-circle btn-xl"><a href="/fasts/new">click to CREATE</a></button>
</div>

{% endblock %}


