{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-6">FASTING PLANS</h2>
    <div class="row">

        {% for fast in fasts %}
            <div class="card" style="width: 18rem">
               
                <div class="card-body">
                    <h6 class="card-title">
                        
                    </h6>
                    <p class="card-text"> {{fast.name.toUpperCase}} </p>
                       
                       
                                                          
                    
                    <a href="/fasts/{{fast._id}}" class="btn btn-info">View </a> <!-- put img here -->
                </div>
            </div>
        {% endfor %}
    </div>
</div> 


{% endblock %}


